<nav class="navbar navbar-light" style="background-color: #c6e3f8;">
<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">File</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Manpower</a>
        <a class="dropdown-item" href="#">Project</a>
        <a class="dropdown-item" href="#">Project Manpower</a>
      </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transaction</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Project manpower update</a>
          <a class="dropdown-item" href="#">Project man-hour update</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Define reports</a>
          <a class="dropdown-item" href="#">Run reports</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Back-up data</a>
          <a class="dropdown-item" href="#">Restore data</a>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">System Security</a>
          <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Module definition</a>
              <a class="dropdown-item" href="#">Module user</a>
              <a class="dropdown-item" href="#">System user</a>
            </div>
            </div>
      </li>
  </ul>
</nav>