
<nav class="navbar navbar-light">
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">File</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/file/manpower">Manpower</a>
            <a class="dropdown-item" routerLink="/file/project">Project</a>
            <a class="dropdown-item" routerLink="/file/project-manpower">Project Manpower</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transaction</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/transaction/project-manpower-update">Project manpower update</a>
              <a class="dropdown-item" routerLink="/transaction/project-man-hour-update">Project man-hour update</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/reports/define-reports">Define reports</a>
              <a class="dropdown-item" routerLink="/reports/run-reports">Run reports</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/tools/backup-data">Back-up data</a>
              <a class="dropdown-item" routerLink="/tools/restore-data">Restore data</a>
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="/tools/system-security" role="button" aria-haspopup="true" aria-expanded="false">System Security</a>
              <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="#">Module definition</a>
                  <a class="dropdown-item" routerLink="#">Module user</a>
                  <a class="dropdown-item" routerLink="#">System user</a>
                </div>
                </div>
          </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>